@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to First Azure Web App through Git Hub pipe line</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core using UI tools</a>.</p>
    <p>@ViewData["Greeting"]</p>
</div>
